* {
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
}

.navbar {
    margin-right: 1rem;
    color: #5f6368;
}

.menu_items {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 400;
}

.menu_item {
    padding: 0 .5rem 0 .5rem;
    font-size: .8rem;
    cursor: pointer;
}

.menu_item.link {
    text-transform: capitalize;
}

.menu_item.menu_item.link {
    color: rgba(0, 0, 0, 0.87);
}

.menu_item.link:hover {
    text-decoration: underline;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile:hover {
    background-color: #e3e3e3;
}

.profile:hover .tooltip {
    visibility: visible;
}

.profile img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.apps_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu_item svg {
    width: 24px;
    fill: #5f6368;
}

.apps_icon:hover {
    background-color: #e3e3e3;
}

.apps_icon:hover .tooltip {
    visibility: visible;
}

.tooltip {
    position: absolute;
    top: 62px;
    background-color: rgb(51, 51, 51, .85);
    color: #fff;
    border-radius: .4rem;
    padding: .5rem;
    font-size: .7rem;
    visibility: hidden;
    transition: visibility .01s .3s;
}

.tooltip .detail {
    color: #a1a3a3;
}

.profile .tooltip {
    right: 10px;
    line-height: 1rem;
}

.apps_icon .tooltip {
    right: 60px;
}